.[eE][nN][vV]*/
.[vV][eE][nN][vV]*/
.[vV][iI][rR][tT][uU][aA][lL][eE][nN][vV]*/
[eE][nN][vV]*/
[vV][eE][nN][vV]*/
[vV][iI][rR][tT][uU][aA][lL][eE][nN][vV]*/
*.db
*.log
*.py[co]

/addon/awesometts/.cache/

/web/build/
/web/node_modules/
/web/.grunt-gae-pid
/web/keys.json
