{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="shortcut icon" href="/favicon.ico" sizes="16x16 32x32"
          type="image/x-icon">

        <title>
            {{#isHome}}
                AwesomeTTS: Easily add text-to-speech to your Anki cards
            {{/isHome}}{{^isHome}}
                {{me.title}} &mdash; AwesomeTTS for Anki
            {{/isHome}}
        </title>
    </head>
    <body>
        <nav><ul>
            <li>{{{helpers.home}}}</li>

            {{#sitemap}}
                <li>
                    {{{helpers.link}}}

                    {{#isParent}}
                        <ul>
                            {{#children}}
                                <li>{{{helpers.link}}}</li>
                            {{/children}}
                        </ul>
                    {{/isParent}}
                </li>
            {{/sitemap}}
        </ul></nav>

        <main>
            <h1>
                {{#isHome}}
                    AwesomeTTS for Anki
                {{/isHome}}{{^isHome}}
                    {{me.title}}
                {{/isHome}}
            </h1>

            {{#isDynamic}}
                <nav>{{{helpers.home}}}</nav>
            {{/isDynamic}}

            {{#isInterior}}
                <nav><ul>
                    {{#prev}}<li>&larr; {{{helpers.link}}}</li>{{/prev}}
                    <li>&uarr; {{{helpers.home}}}</li>
                    {{#parent}}<li>&uarr; {{{helpers.link}}}</li>{{/parent}}
                    {{#next}}<li>{{{helpers.link}}} &rarr;</li>{{/next}}
                </ul></nav>
            {{/isInterior}}
