{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="shortcut icon" href="/favicon.ico" sizes="16x16 32x32"
          type="image/x-icon">

        <title>
            {{#isHome}}
                AwesomeTTS: Easily add text-to-speech to your Anki cards
            {{/isHome}}{{^isHome}}
                {{self.title}} &mdash; AwesomeTTS for Anki
            {{/isHome}}
        </title>
    </head>
    <body>
        <h1>
            {{#isHome}}
                AwesomeTTS for Anki
            {{/isHome}}{{^isHome}}
                {{self.title}}
            {{/isHome}}
        </h1>

        {{#isPage}}
            <nav><ul>
                {{#prev}}
                    <li>
                        &larr;
                        <a href="{{{href}}}" rel="prev">{{title}}</a>
                    </li>
                {{/prev}}

                {{#up}}
                    {{#upEqHome}}
                        <li>
                            &uarr;
                            <a href="{{{href}}}" rel="home index parent up">
                                {{title}}
                            </a>
                        </li>
                    {{/upEqHome}}{{^upEqHome}}
                        {{#home}}
                            <li>
                                &uarr;
                                <a href="{{{href}}}" rel="home index">
                                    {{title}}
                                </a>
                            </li>
                        {{/home}}

                        <li>
                            &uarr;
                            <a href="{{{href}}}" rel="parent up">
                                {{title}}
                            </a>
                        </li>
                    {{/upEqHome}}
                {{/up}}

                {{#next}}
                    <li>
                        <a href="{{{href}}}" rel="next">{{title}}</a>
                        &rarr;
                    </li>
                {{/next}}
            </ul></nav>
        {{/isPage}}
