{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

        </article>

        {{#isParent}}
            <nav id="dive">
                <ul>
                    {{#children}}
                        <li>{{{helpers.link}}}</li>
                    {{/children}}
                </ul>
            </nav>
        {{/isParent}}
    </main>

    <nav id="plat">
        <h1>Sitemap</h1>

        <ul>
            {{#sitemap}}
                <li>
                    {{{helpers.link}}}

                    {{#isParent}}
                        <ul>
                            {{#children}}
                                <li>{{{helpers.link}}}</li>
                            {{/children}}
                        </ul>
                    {{/isParent}}
                </li>
            {{/sitemap}}
        </ul>

        <h2>Additional Links</h2>

        <ul>
            <li><a href="//ankiweb.net/shared/info/301952613"
              rel="external">AwesomeTTS on AnkiWeb</a></li>

            <li><a href="//github.com/AwesomeTTS/AwesomeTTS"
              rel="external">AwesomeTTS on GitHub</a></li>
        </ul>

        <h2>Need Help?</h2>

        <ul>
            <li><a href="//anki.tenderapp.com/discussions/add-ons"
              rel="discussion external">Anki Add-On Support Forum</a></li>

            <li><a href="//github.com/AwesomeTTS/AwesomeTTS/issues"
              rel="external issues">Issue Tracker for AwesomeTTS</a></li>
        </ul>
    </ul></nav>

    <footer>
        <p>AwesomeTTS is free and open source software. The add-on code that
          runs within Anki is released under the <a rel="external"
          href="//www.gnu.org/licenses/gpl-3.0">GNU GPL v3</a>, and
          first-party web code is released under the <a rel="external"
          href="//www.gnu.org/licenses/agpl-3.0">GNU AGPL v3</a>.</p>

        <p>For more or to obtain source code, visit the <a rel="external"
          href="//github.com/AwesomeTTS/AwesomeTTS">AwesomeTTS GitHub
          Repository</a>.</p>
    </footer>
</body>
</html>
