{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p>AwesomeTTS brings text-to-speech playback and recording support to users of
  the desktop version of <a href="http://ankisrs.net" rel="external">Anki</a>,
  a popular spaced repetition flash card program.</p>

<p>Several text-to-speech services are available with AwesomeTTS, including
  ones that run as desktop software locally on your computer and others that
  make audio available over the Internet. AwesomeTTS supports both on-the-fly
  playback and storing/synchronizing audio files with your media collection,
  making it flexible enough for different needs.</p>

<p>Both Anki and AwesomeTTS are free and open-source software. You can study
  the source code, make changes, and contribute back to the community.</p>

{{> below}}
