{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p><a href="http://www.eguidedog.net/ekho.php" rel="external">Ekho</a> is a
  free and open-source text-to-speech software with support on Windows and
  Linux.</p>

<p>Ekho has support for Mandarin, Cantonese, Tibetan, and provisionally
  Korean. In addition, some lesser-used dialects are supported: Zhaoan Hakka,
  a Taiwanese dialect, and Ngangien, a version of Chinese used before the Yuan
  Dynasty. All languages are bundled with the core software, so there is no
  need to install separate packages.</p>

<h2>Windows Users</h2>

<p>If using the recommended installer package, most Windows users will
  actually use the Ekho software via the <a href="/services/sapi5">Microsoft
  Speech API</a> rather than directly through calls to the <code>ekho</code>
  binary.</p>

<h2>Linux Users</h2>

<p>On Linux, AwesomeTTS must be able to find the <code>ekho</code> binary in
  your system <code>$PATH</code>.</p>

<p>Some Linux distributions have packages available, either from official
  repositories or community-maintained ones (e.g. Ubuntu PPA, Arch User
  Repository). In addition, the Ekho website also maintains some good
  <a rel="external" href="http://www.eguidedog.net/doc_install_ekho.php">Linux
  installation instructions</a>, including how to compile and install from
  source.</p>

<h2>Options</h2>

<figure style="width: 608px">
    <img src="/services.ekho.png" width="608" height="368"
      alt="AwesomeTTS note editor dialog with the Ekho service activated">

    <figcaption>&ldquo;Add TTS Audio to Note&rdquo; dialog with the Ekho
      service activated</figcaption>
</figure>

<p>When using Ekho directly, &hellip; <strong>TODO</strong></p>

{{> below}}
