{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

{{!TODO Need screenshot}}

<p>Version 5 of the Microsoft Speech API, also known as SAPI 5, is a built-in
  interface in Microsoft Windows to allow desktop software to install voices
  for text-to-speech playback and make them available to other programs like
  AwesomeTTS.</p>

<p>While Microsoft Windows comes built-in with the ability to use the
  Microsoft Speech API, it usually only ships with one or a small handful of
  voices. You can make additional voices available over the SAPI system by
  installing software that supports text-to-speech playback, such as
  <a href="ekho">Ekho</a>, <a href="espeak">eSpeak</a>, and others.</p>

{{> below}}
