{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p>Version 5 of the Microsoft Speech API, also known as SAPI 5, is a built-in
  interface in Microsoft Windows to allow desktop software to install voices
  for text-to-speech playback and make them available to other programs like
  AwesomeTTS.</p>

<p>While Microsoft Windows comes built-in with the ability to use the
  Microsoft Speech API, it usually only ships with one or a small handful of
  voices. You can make additional voices available over the SAPI system by
  installing software that supports text-to-speech playback, such as
  <a href="ekho">Ekho</a>, <a href="espeak">eSpeak</a>, and others.</p>

<h2>Options</h2>

<figure style="width: 608px">
    <img src="/services.sapi5.png" width="608" height="368"
      alt="AwesomeTTS note editor dialog with the SAPI 5 service activated">

    <figcaption>&ldquo;Add TTS Audio to Note&rdquo; dialog with the Microsoft
      Speech API service activated</figcaption>
</figure>

<p>When using the Microsoft Speech API, the <strong>Speed</strong> and
  <strong>Volume</strong> of the playback can be adjusted.</p>

<p>If you are using another service (e.g. <a href="ekho">Ekho</a>,
  <a href="espeak">eSpeak</a>) indirectly through this interface, the options
  here may not produce <em>exactly</em> the same results as when calling those
  services directly, but they will be similar.</p>

{{> below}}
