{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

{{!TODO Need screenshot}}

<p>The Speech Synthesis Manager, sometimes known as Say (after the
  <code>say</code> command-line tool), is a built-in interface in
  Apple&rsquo;s Mac OS X operating system to allow desktop programs like
  AwesomeTTS to access voices for text-to-speech playback.</p>

<p>While Mac OS X comes built-in with the ability to use the Speech Synthesis
  Manager, it usually only ships with one or a small handful of voices. You
  can make additional voices available from the Speech Synthesis Manager by
  downloading alternate voices in your System Preferences.</p>

{{> below}}
