{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<figure style="width: 534px">
    <img src="/config.advanced.png" width="534" height="573"
      alt="AwesomeTTS configuration dialog with the Advanced tab selected">

    <figcaption>&ldquo;Advanced&rdquo; configuration tab</figcaption>
</figure>

<p>The &ldquo;Advanced&rdquo; tab allows the user to manage service presets,
  add-on updates, control debugging, and manage cached media.</p>

<h2>Service Presets</h2>

<p>Service presets allow on-demand playback of selected text and also easy
  recall of service configurations from AwesomeTTS dialogs. For more on this,
  see <a href="/usage/presets">how to use service presets</a>.</p>

<h2>Updates</h2>

<p><strong>As of the v1.0.0 release,</strong> by default, AwesomeTTS
  automatically checks for updates when you open a user profile for the first
  time in an Anki session.</p>

<p>From this section, you can disable the update checker from running
  automatically and you can also manually do a one-time check for updates.</p>

<h2>Debugging Output</h2>

<p>AwesomeTTS can write debugging output either to <code>stdout</code> or to
  an <code>addon.log</code> file in the <code>Anki/addons/awesometts</code>
  directory.</p>

<p>The output of this can be helpful for troubleshooting issues with the
  add-on or simply if you&rsquo;re curious how it works.</p>

<h2>Media Cache</h2>

<p>Whenever AwesomeTTS records or plays audio, it caches the resulting MP3
  locally in your user profile. The cache improves the speed and performance
  of successive playback of the same audio, particularly when using the
  <a href="/usage/on-the-fly">on-the-fly mode</a> of the add-on.</p>

<p>AwesomeTTS will only cache one MP3 file for a given combination of service,
  input text, and service options. The MP3 files are relatively small.</p>

<p>You can set how long you want files in your cache to remain before they are
  automatically deleted at the end of your Anki session.</p>

<p>By going to <code>Anki/addons/awesometts/.cache</code> on your file system,
  you can see the raw cache.</p>

{{> below}}
