{{!
  ! AwesomeTTS text-to-speech add-on website
  !
  ! Copyright (C) 2014       Anki AwesomeTTS Development Team
  ! Copyright (C) 2014       Dave Shifflett
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<figure style="width: 485px">
    <img src="/config.advanced.png" width="485" height="541"
      alt="AwesomeTTS configuration dialog with the Advanced tab selected">

    <figcaption>&ldquo;Advanced&rdquo; configuration tab</figcaption>
</figure>

<p>The &ldquo;Advanced&rdquo; tab allows the user to manage add-on updates,
  control debugging, and clear cached media.</p>

{{> below}}
